<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3">
                {{ getName() }}'s ToDo List
            </h3>

            <div class="input-group mb-3">
                <input #inputItem type="text" class="form-control" (keyup.enter)="addItem(inputItem.value); inputItem.value=''">
                <button class="btn btn-outline-primary" (click)="addItem(inputItem.value); inputItem.value=''">Add</button>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="displayAll" id="">
                <label for="displayAll" class="form-check-label">Show All</label>
            </div>


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>List</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getItems(); let i = index;">
                        <td>{{ i+1 }}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.priority}}</td>
                        <td>{{item.action}}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
